Javascript/2018/input
Javascript/2019/getInput
Javascript/2019/input
Javascript/2019/problem
Python/2016/.vscode
Python/2016/input.txt
Python/2016/env
Python/2019/.vscode
Python/2019/env
Python/2019/input.txt
